/**
  * TAC-Edit Base Styles
  * @author Keith Solomon
  */

body {
  h1,h2,h3,h4,h5,h6 { margin: 0 0 0.5rem; }

  h1,.h1 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }

  h2,.h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  h3,.h3 {
    font-size: 1.75rem;
    margin-bottom: .75rem;
    padding-bottom: .25rem;
  }

  h4,.h4 { font-size: 1.5rem; }

  h5,.h5 { font-size: 1.25rem; }

  h6,.h6 { font-size: 1rem; }

  a {
    color: var(--linkColor);
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }

  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

#wrapper {
  margin: 0 auto;
  max-width: 1500px;
  padding: 1rem;
}

.gridContainer {
  background-color: var(--bgColor);
  border-color: var(--borderColor);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;

  h3 { border-bottom: 1px solid var(--borderColor); }
}
