/**
  * TAC-Edit Styles
  * @author Keith Solomon
  */

/* Load styles */
@import url(css/reset.css);
@import url(css/utilities.css);
@import url(css/base.css);
@import url(css/fileList.css);
@import url(css/form.css);
@import url(css/buttons.css);

/* Set up style variables */
:root {
  --bgColor:     #121212;
  --textColor:   #e0e0e0;
  --linkColor:   #8eb2e1;
  --borderColor: #333;

  --primaryColor:   #17466e;
  --primaryHover:   color-mix(in srgb, var(--primaryColor) 80%, var(--secondaryColor) 20%);
  --secondaryColor: #8eb2e1;
  --secondaryHover: color-mix(in srgb, var(--secondaryColor) 70%, var(--primaryColor) 30%);
  --successColor:   #17a667;
  --successHover:   color-mix(in srgb, var(--successColor) 60%, var(--secondaryColor) 40%);
  --dangerColor:    #8e1717;
  --dangerHover:    color-mix(in srgb, var(--dangerColor) 80%, var(--secondaryColor) 20%);
}

body {
  background-color: var(--bgColor);
  color: var(--textColor);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
}
